@font-face {
  font-family: "Abril Fatface";
  src: url("../assets/typography/AbrilFatface-Regular.ttf") format("truetype");
}
/*Option 1: #ffea79; Option 2: #ffbebe*/
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  background-color: #ffbebe;
  padding: 0.5rem 1rem 1rem 1rem;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}
@media (min-width: 1280px) {
  .header {
    padding: 0.5rem 6rem;
    align-items: baseline;
  }
}
.header__title {
  font-family: "Abril Fatface";
  color: #1f203a;
  font-size: 1.5rem;
}
@media (min-width: 1280px) {
  .header__title {
    font-size: 3.12rem;
  }
}

.nav__icon {
  width: 1.5rem;
  height: 1.5rem;
}
@media (min-width: 1280px) {
  .nav__icon {
    display: none;
  }
}
.nav--other {
  display: none;
}
@media (min-width: 1280px) {
  .nav--other {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.nav__link {
  list-style: none;
}
.nav__link--active {
  border-bottom: 4px solid white;
}
.nav__address {
  text-decoration: none;
  font-weight: bold;
  color: #1f203a;
}

.socials {
  padding-top: 1rem;
}
@media (min-width: 1280px) {
  .socials {
    padding-top: 3rem;
  }
}
.socials__icon--twitter {
  width: 1rem;
}
@media (min-width: 1280px) {
  .socials__icon--twitter {
    width: 1.68rem;
  }
}
.socials__icon--facebook {
  width: 0.5rem;
}
@media (min-width: 1280px) {
  .socials__icon--facebook {
    width: 0.81rem;
  }
}
.socials__link {
  margin: 0 0.5rem 0 0;
}
@media (min-width: 1280px) {
  .socials__link {
    margin: 0 0.5rem;
  }
}
.socials--footer {
  padding-top: 1rem;
}
@media (min-width: 1280px) {
  .socials--footer {
    text-align: right;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 2rem;
  }
}

.card {
  width: 100%;
  margin-bottom: 1.5rem;
}
@media (min-width: 1280px) {
  .card {
    width: 20rem;
    margin-bottom: 5rem;
  }
}
.card__image {
  width: 100%;
  height: 12.5rem;
  border-radius: 0.3rem;
}
.card__title {
  margin: 1rem 0;
  font-size: 14px;
}
@media (min-width: 1280px) {
  .card__title {
    font-size: 22px;
  }
}
.card__description {
  font-size: 13px;
}
@media (min-width: 1280px) {
  .card__description {
    font-size: 16px;
  }
}

.button {
  padding: 0.5rem 2rem;
  background-color: #ffbebe;
  color: #1f203a;
  font-weight: 700;
  border-radius: 0.3rem;
  font-size: 10px;
}
@media (min-width: 1280px) {
  .button {
    padding: 1rem 4rem;
    font-size: 16px;
  }
}

.footer {
  font-family: "Abril Fatface";
  display: flex;
  flex-direction: column;
  background-color: #ffbebe;
  color: #1f203a;
  padding: 1rem;
}
@media (min-width: 1280px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 6rem;
  }
}
.footer__header {
  font-size: 14px;
  padding-bottom: 1rem;
}
@media (min-width: 1280px) {
  .footer__header {
    font-size: 1.5rem;
  }
}
.footer__email {
  font-size: 14px;
}
@media (min-width: 1280px) {
  .footer__email {
    font-size: 1rem;
  }
}

.container {
  position: relative;
}

.hero {
  background-color: #ffbebe;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3rem;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .hero {
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 4rem 6rem 1rem 6rem;
  }
}
.hero__title {
  font-size: 14px;
  color: #1f203a;
  font-weight: 500;
}
@media (min-width: 1280px) {
  .hero__title {
    font-size: 1.56rem;
  }
}
.hero__wrapper {
  width: calc(100% - 2rem);
  margin: auto;
}
@media (min-width: 1280px) {
  .hero__wrapper {
    width: 40%;
  }
}
.hero__image {
  display: block;
  width: 100%;
}
@media (min-width: 1280px) {
  .hero__image {
    display: none;
  }
}
.hero__image--other {
  display: none;
}
@media (min-width: 1280px) {
  .hero__image--other {
    display: block;
    width: 35%;
    max-width: 30vw;
    position: absolute;
    top: 25rem;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
.hero__intro {
  padding: 1rem;
}
@media (min-width: 1280px) {
  .hero__intro {
    width: 50%;
    padding: 10rem 0rem 5rem 3rem;
    text-align: center;
    vertical-align: middle;
  }
}

.about {
  background-color: #1f203a;
  color: white;
  padding: 1rem;
}
@media (min-width: 1280px) {
  .about {
    padding: 1rem 6rem 4rem 6rem;
    text-align: center;
  }
}
.about__title {
  font-family: "Abril Fatface", serif;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  padding-bottom: 1rem;
}
@media (min-width: 1280px) {
  .about__title {
    font-size: 6.25rem;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .about__wrapper {
    display: flex;
    gap: 5rem;
    padding-top: 5rem;
  }
}
.about__info {
  font-size: 1.12rem;
}
.about__info--para {
  padding-bottom: 1rem;
  font-size: 13px;
}
@media (min-width: 1280px) {
  .about__info--para {
    padding: 2rem;
    font-size: 16px;
  }
}

.skills {
  width: 80%;
  text-align: left;
  margin-right: 2rem;
}
.skills__box {
  margin-bottom: 2rem;
}
.skills__title {
  font-size: 13px;
}
@media (min-width: 1280px) {
  .skills__title {
    font-size: 1rem;
  }
}
.skills__bar {
  border-radius: 2px;
  background-color: white;
}
@media (min-width: 1280px) {
  .skills__bar {
    border-radius: 5px;
  }
}
.skills__percent {
  background-color: #ffbebe;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 0.8rem;
}
@media (min-width: 1280px) {
  .skills__percent {
    height: 1.5rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}
.skills__percent--html-css {
  width: 85%;
}
.skills__percent--javascript {
  width: 75%;
}
.skills__percent--mysql {
  width: 95%;
}
.skills__percent--php {
  width: 75%;
}
.skills__percent--python {
  width: 25%;
}
.skills__percent--nodejs {
  width: 25%;
}

.work-sample {
  background-color: #1f203a;
  color: white;
  padding: 1rem;
}
@media (min-width: 1280px) {
  .work-sample {
    text-align: center;
    padding: 1rem 6rem 4rem 6rem;
  }
}/*# sourceMappingURL=styles.css.map */